<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
	<key>NSLocationUsageDescription</key>
	<string>We need your location to show your position relative to cities on the map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show you the route to your destination city.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to show you the route to your destination city.</string>
</dict>
</plist>
